{
 "swagger": "2.0",
 "info": {
  "title": "Infocenter-PROD-V2",
  "description": "Infocenter API",
  "version": "20260910.2_release"
 },
 "host": "api.discover.swiss",
 "basePath": "/info/v2/",
 "schemes": [
  "https"
 ],
 "paths": {
  "/accommodations/{id}": {
   "get": {
    "description": "Get the full detailed information of an Accommodation object.",
    "operationId": "Accommodation",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "path",
      "name": "id",
      "description": "Use property identifier of Accommodation to get single object.",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
      "description": "Time zone ID to apply its offset to dates and time.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "scope",
      "description": "Value scope. Some providers support different values for different client targets. Has an effect on some multilingual values (name, description, etc.).",
      "type": "string"
     },
     {
      "in": "header",
      "name": "ds-tagFilter",
      "description": "Filter tags in the response by `project` or `all`, by default `all`.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "ds-containedInPlaceFilter",
      "description": "Filter containedInPlace in the response by `project` or `all`, by default `all`.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "ds-categoryFilter",
      "description": "Filter categories in the response by `project`, `excludeRoot` or `all`, by default `all`. Filter by `excludeRoot` will filter out the root elements of the category tree.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "categoryVersion",
      "description": "Filters categories by version.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "project",
      "description": "Use this property to filter objects by a specific project. All partners must provide their project code in this parameter.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "select",
      "description": "Comma-separated list of properties to include in the response.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "photoSeason",
      "description": "Filter photos by season based on tags. Available values are: `summer` and `winter`.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "includeAllPhotos",
      "description": "Use `true` to include all photos in the response, otherwise images with low confidence will be skipped.",
      "type": "boolean"
     }
    ],
    "responses": {
     "200": {
      "description": "Returns an accommodation",
      "schema": {
       "$ref": "#/definitions/Accommodation"
      }
     }
    }
   }
  },
  "/accommodations": {
   "get": {
    "description": "Get the list of the Accommodations with full detailed information.",
    "operationId": "List Accommodation",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
      "description": "Time zone ID to apply its offset to dates and time.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "scope",
      "description": "Value scope. Some providers support different values for different client targets. Has an effect on some multilingual values (name, description, etc.).",
      "type": "string"
     },
     {
      "in": "header",
      "name": "ds-tagFilter",
      "description": "Filter tags in the response by `project` or `all`, by default `all`.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "ds-containedInPlaceFilter",
      "description": "Filter containedInPlace in the response by `project` or `all`, by default `all`.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "ds-categoryFilter",
      "description": "Filter categories in the response by `project`, `excludeRoot` or `all`, by default `all`. Filter by `excludeRoot` will filter out the root elements of the category tree.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "categoryVersion",
      "description": "Filters categories by version.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "project",
      "description": "Use this property to filter objects by a specific project. All partners must provide their project code in this parameter.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "select",
      "description": "Comma-separated list of properties to include in the response.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "updatedSince",
      "description": "Returns only changed data since a specific date. Format: `yyyy-MM-ddTHH:mm:ss`",
      "type": "string",
      "format": "date-time"
     },
     {
      "in": "query",
      "name": "datasource",
      "description": "Filters by `datasource`.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "continuationToken",
      "description": "A next page cursor for use in pagination, see [Documentation](https://docs.discover.swiss/dev/quickstarts/how-to-get-access/#continuationtoken).",
      "type": "string"
     },
     {
      "in": "query",
      "name": "top",
      "description": "Sets the page size of response.",
      "type": "integer",
      "format": "int32"
     },
     {
      "in": "query",
      "name": "additionalType",
      "description": "Filters by `additional type`.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "includeCount",
      "description": "Use `true` if you want to get total filtered items count in response.",
      "type": "boolean"
     },
     {
      "in": "query",
      "name": "usage",
      "type": "string"
     },
     {
      "in": "query",
      "name": "identifiers",
      "description": "Comma-separated list of Id's to include in the response.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "photoSeason",
      "description": "Filter photos by season based on tags. Available values are: `summer` and `winter`.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "includeAllPhotos",
      "description": "Use `true` to include all photos in the response, otherwise images with low confidence will be skipped.",
      "type": "boolean"
     }
    ],
    "responses": {
     "200": {
      "description": "Return array of accommodations",
      "schema": {
       "$ref": "#/definitions/AccommodationsResponse"
      }
     }
    }
   }
  },
  "/areas/{id}/weather/forecast/hourly": {
   "get": {
    "description": "Get the full detailed information about the weather hourly forecast for the AdministrativeArea object.",
    "operationId": "AdministrativeArea (Region) hourly forecast",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "path",
      "name": "id",
      "description": "Use property identifier of AdministrativeArea to get the weather hourly forecast information for it.",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
      "description": "Time zone ID to apply its offset to dates and time.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "project",
      "description": "Use this property to filter objects by a specific project. All partners must provide their project code in this parameter.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "containedInPlace",
      "description": "Filters by `containedInPlace`. Use property identifier of place.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "duration",
      "description": "Time frame of the returned weather forecast. By default, the forecast data for next hour will be returned.Available values are:<br>`1` - Return forecast data for the next hour. Default value.<br>`12` - Return hourly forecast for next 12 hours.<br>`24` - Return hourly forecast for next 24 hours.<br>`72` - Return hourly forecast for next 72 hours (3 days).",
      "type": "integer",
      "format": "int32"
     }
    ],
    "responses": {
     "200": {
      "description": "Returns the weather hourly forecast for an administrative area",
      "schema": {
       "type": "array",
       "items": {
        "$ref": "#/definitions/HourlyForecast"
       }
      }
     }
    }
   }
  },
  "/areas/{id}/weather/forecast/daily": {
   "get": {
    "description": "Get the full detailed information about the weather daily forecast for the AdministrativeArea object.",
    "operationId": "AdministrativeArea (Region) daily forecast",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "path",
      "name": "id",
      "description": "Use property identifier of AdministrativeArea to get the weather daily forecast information for it.",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
      "description": "Time zone ID to apply its offset to dates and time.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "project",
      "description": "Use this property to filter objects by a specific project. All partners must provide their project code in this parameter.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "containedInPlace",
      "description": "Filters by `containedInPlace`. Use property identifier of place.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "duration",
      "description": "Sets for how many days the daily forecast responses are returned. Available values are:<br>`1` - Return forecast data for the next day. Returned by default.<br>`5` - Return forecast data for the next 5 days.<br>`10` - Return forecast data for the next 10 days.",
      "type": "integer",
      "format": "int32"
     }
    ],
    "responses": {
     "200": {
      "description": "Returns the weather daily forecast for an administrative area",
      "schema": {
       "type": "array",
       "items": {
        "$ref": "#/definitions/DailyForecast"
       }
      }
     }
    }
   }
  },
  "/areas/{id}/weather": {
   "get": {
    "description": "Get the full detailed information about the weather for the AdministrativeArea object.",
    "operationId": "AdministrativeArea (Region) weather",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "path",
      "name": "id",
      "description": "Use property identifier of AdministrativeArea to get the weather information for it.",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
      "description": "Time zone ID to apply its offset to dates and time.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "project",
      "description": "Use this property to filter objects by a specific project. All partners must provide their project code in this parameter.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "containedInPlace",
      "description": "Filters by `containedInPlace`. Use property identifier of place.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "duration",
      "description": "Time frame of the returned weather conditions. By default, the most current weather conditions will be returned. Available values are:<br>`0` - Return the most current weather conditions. Default value.<br>`6` - Return weather conditions from past 6 hours.<br>`24` - Return weather conditions from past 24 hours.",
      "type": "integer",
      "format": "int32"
     },
     {
      "in": "query",
      "name": "details",
      "description": "Returns full details for the current conditions, `false` by default.",
      "type": "boolean"
     }
    ],
    "responses": {
     "200": {
      "description": "Returns the weather for an administrative area",
      "schema": {
       "type": "array",
       "items": {
        "$ref": "#/definitions/Weather"
       }
      }
     }
    }
   }
  },
  "/areas/{id}": {
   "get": {
    "description": "Get the full detailed information of an Region object.",
    "operationId": "AdministrativeArea (Region)",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "path",
      "name": "id",
      "description": "Use property identifier of Region to get single object.",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
      "description": "Time zone ID to apply its offset to dates and time.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "scope",
      "description": "Value scope. Some providers support different values for different client targets. Has an effect on some multilingual values (name, description, etc.).",
      "type": "string"
     },
     {
      "in": "header",
      "name": "ds-containedInPlaceFilter",
      "description": "Filter containedInPlace in the response by `project` or `all`, by default `all`.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "project",
      "description": "Use this property to filter objects by a specific project. All partners must provide their project code in this parameter.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "containedInPlace",
      "description": "Filters by `containedInPlace`. Use property identifier of place.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "select",
      "description": "Comma-separated list of properties to include in the response.",
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "Returns an administrative area",
      "schema": {
       "$ref": "#/definitions/AdministrativeArea"
      }
     }
    }
   }
  },
  "/areas/{id}/tree": {
   "get": {
    "description": "Get a tree of the Regions with the most important information started from defined Region.",
    "operationId": "Tree AdministrativeArea (Region)",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "path",
      "name": "id",
      "description": "Use property identifier of Region to set root Region.",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
      "description": "Time zone ID to apply its offset to dates and time.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "levels",
      "description": "controls how deep the tree should go. default = 1",
      "type": "string"
     },
     {
      "in": "query",
      "name": "adminAreasOnly",
      "description": "set to true only administrative areas are included. Set to false then all types of areas are included. This kind can destroy the tree structure and combined with high levels the performance can be bad. default = false",
      "type": "string"
     },
     {
      "in": "query",
      "name": "project",
      "description": "Use this property to filter objects by a specific project. All partners must provide their project code in this parameter.",
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "Return array of administrative areas",
      "schema": {
       "$ref": "#/definitions/AdministrativeAreaTreeItem"
      }
     }
    }
   }
  },
  "/areas": {
   "get": {
    "description": "Get the list of the Regions with full detailed information.",
    "operationId": "List AdministrativeArea (Region)",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
      "description": "Time zone ID to apply its offset to dates and time.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "scope",
      "description": "Value scope. Some providers support different values for different client targets. Has an effect on some multilingual values (name, description, etc.).",
      "type": "string"
     },
     {
      "in": "header",
      "name": "ds-containedInPlaceFilter",
      "description": "Filter containedInPlace in the response by `project` or `all`, by default `all`.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "category",
      "description": "Filters by `category`. Use property identifier of category.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "containedInPlace",
      "description": "Filters by `containedInPlace`. Use property identifier of place.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "updatedSince",
      "description": "Returns only changed data since a specific date. Format: `yyyy-MM-ddTHH:mm:ss`",
      "type": "string",
      "format": "date-time"
     },
     {
      "in": "query",
      "name": "datasource",
      "description": "Filters by `datasource`.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "continuationToken",
      "description": "A next page cursor for use in pagination, see [Documentation](https://docs.discover.swiss/dev/quickstarts/how-to-get-access/#continuationtoken).",
      "type": "string"
     },
     {
      "in": "query",
      "name": "top",
      "description": "Sets the page size of response.",
      "type": "integer",
      "format": "int32"
     },
     {
      "in": "query",
      "name": "project",
      "description": "Use this property to filter objects by a specific project. All partners must provide their project code in this parameter.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "select",
      "description": "Comma-separated list of properties to include in the response.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "includeCount",
      "description": "Use `true` if you want to get total filtered items count in response.",
      "type": "boolean"
     },
     {
      "in": "query",
      "name": "adminAreasOnly",
      "description": "set to true only administrative areas are included. Set to false then all types of areas are included. This kind can destroy the tree structure and combined with high levels the performance can be bad. default = false (works only in combination with rootObjectsOnly).",
      "type": "string"
     },
     {
      "in": "query",
      "name": "rootObjectsOnly",
      "description": "Pass 'true' if you want to get only root areas.",
      "type": "boolean"
     },
     {
      "in": "query",
      "name": "identifiers",
      "description": "Comma-separated list of Id's to include in the response.",
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "Return array of administrative areas",
      "schema": {
       "$ref": "#/definitions/AdministrativeAreasResponse"
      }
     }
    }
   }
  },
  "/amenities/{id}": {
   "get": {
    "description": "Get the full detailed information of an Amenity object.",
    "operationId": "Amenity",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "path",
      "name": "id",
      "description": "Use property identifier of Amenity to get single object.",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "Returns an Amenity",
      "schema": {
       "$ref": "#/definitions/LocationFeatureSpecification"
      }
     }
    }
   }
  },
  "/amenities": {
   "get": {
    "description": "Get the list of the Amenities with full detailed information.",
    "operationId": "List Amenities",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "additionalType",
      "description": "Filters by `additional type`.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "placeFeatures",
      "description": "Filter by place features.",
      "type": "boolean"
     },
     {
      "in": "query",
      "name": "lodgingBusinessFeatures",
      "description": "Filter by lodging business features.",
      "type": "boolean"
     },
     {
      "in": "query",
      "name": "accommodationFeatures",
      "description": "Filter by accommodation features.",
      "type": "boolean"
     }
    ],
    "responses": {
     "200": {
      "description": "Return array of Amenities",
      "schema": {
       "type": "array",
       "items": {
        "$ref": "#/definitions/LocationFeatureSpecification"
       }
      }
     }
    }
   }
  },
  "/audioObjects/{id}": {
   "get": {
    "description": "Get the full detailed information of an AudioObject object.",
    "operationId": "AudioObject",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "path",
      "name": "id",
      "description": "Use property identifier of AudioObject to get single object.",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
      "description": "Time zone ID to apply its offset to dates and time.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "scope",
      "description": "Value scope. Some providers support different values for different client targets. Has an effect on some multilingual values (name, description, etc.).",
      "type": "string"
     },
     {
      "in": "query",
      "name": "project",
      "description": "Use this property to filter objects by a specific project. All partners must provide their project code in this parameter.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "select",
      "description": "Comma-separated list of properties to include in the response.",
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "Returns an audio object",
      "schema": {
       "$ref": "#/definitions/AudioObject"
      }
     }
    }
   }
  },
  "/audioObjects": {
   "get": {
    "description": "Get the list of the AudioObject with full detailed information.",
    "operationId": "List AudioObject",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
      "description": "Time zone ID to apply its offset to dates and time.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "scope",
      "description": "Value scope. Some providers support different values for different client targets. Has an effect on some multilingual values (name, description, etc.).",
      "type": "string"
     },
     {
      "in": "query",
      "name": "updatedSince",
      "description": "Returns only changed data since a specific date. Format: `yyyy-MM-ddTHH:mm:ss`",
      "type": "string",
      "format": "date-time"
     },
     {
      "in": "query",
      "name": "datasource",
      "description": "Filters by `datasource`.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "continuationToken",
      "description": "A next page cursor for use in pagination, see [Documentation](https://docs.discover.swiss/dev/quickstarts/how-to-get-access/#continuationtoken).",
      "type": "string"
     },
     {
      "in": "query",
      "name": "top",
      "description": "Sets the page size of response.",
      "type": "integer",
      "format": "int32"
     },
     {
      "in": "query",
      "name": "project",
      "description": "Use this property to filter objects by a specific project. All partners must provide their project code in this parameter.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "select",
      "description": "Comma-separated list of properties to include in the response.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "includeCount",
      "description": "Use `true` if you want to get total filtered items count in response.",
      "type": "boolean"
     },
     {
      "in": "query",
      "name": "identifiers",
      "description": "Comma-separated list of Id's to include in the response.",
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "Return array of audio objects",
      "schema": {
       "$ref": "#/definitions/AudioObjectsResponse"
      }
     }
    }
   }
  },
  "/awards/{id}": {
   "get": {
    "description": "Get the full detailed information of an Award object.",
    "operationId": "Award",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "path",
      "name": "id",
      "description": "Use property identifier of Award to get single object.",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
      "description": "Time zone ID to apply its offset to dates and time.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "scope",
      "description": "Value scope. Some providers support different values for different client targets. Has an effect on some multilingual values (name, description, etc.).",
      "type": "string"
     },
     {
      "in": "query",
      "name": "project",
      "description": "Use this property to filter objects by a specific project. All partners must provide their project code in this parameter.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "select",
      "description": "Comma-separated list of properties to include in the response.",
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "Returns an award",
      "schema": {
       "$ref": "#/definitions/Award"
      }
     }
    }
   }
  },
  "/awards": {
   "get": {
    "description": "Get the list of the Awards with full detailed information.",
    "operationId": "List Award",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
      "description": "Time zone ID to apply its offset to dates and time.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "scope",
      "description": "Value scope. Some providers support different values for different client targets. Has an effect on some multilingual values (name, description, etc.).",
      "type": "string"
     },
     {
      "in": "query",
      "name": "project",
      "description": "Use this property to filter objects by a specific project. All partners must provide their project code in this parameter.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "select",
      "description": "Comma-separated list of properties to include in the response.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "updatedSince",
      "description": "Returns only changed data since a specific date. Format: `yyyy-MM-ddTHH:mm:ss`",
      "type": "string",
      "format": "date-time"
     },
     {
      "in": "query",
      "name": "datasource",
      "description": "Filters by `datasource`.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "continuationToken",
      "description": "A next page cursor for use in pagination, see [Documentation](https://docs.discover.swiss/dev/quickstarts/how-to-get-access/#continuationtoken).",
      "type": "string"
     },
     {
      "in": "query",
      "name": "top",
      "description": "Sets the page size of response.",
      "type": "integer",
      "format": "int32"
     },
     {
      "in": "query",
      "name": "additionalType",
      "description": "Filters by `additional type`.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "includeCount",
      "description": "Use `true` if you want to get total filtered items count in response.",
      "type": "boolean"
     },
     {
      "in": "query",
      "name": "usage",
      "type": "string"
     },
     {
      "in": "query",
      "name": "identifiers",
      "description": "Comma-separated list of Id's to include in the response.",
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "Return array of awards",
      "schema": {
       "$ref": "#/definitions/AwardsResponse"
      }
     }
    }
   }
  },
  "/categories/{id}": {
   "get": {
    "description": "Get the full detailed information of an Category object.",
    "operationId": "Category",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "path",
      "name": "id",
      "description": "Use property identifier of Category to get single object.",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
      "description": "Time zone ID to apply its offset to dates and time.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "scope",
      "description": "Value scope. Some providers support different values for different client targets. Has an effect on some multilingual values (name, description, etc.).",
      "type": "string"
     },
     {
      "in": "header",
      "name": "categoryVersion",
      "description": "Filters categories by version.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "project",
      "description": "Use this property to filter objects by a specific project. All partners must provide their project code in this parameter.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "select",
      "description": "Comma-separated list of properties to include in the response.",
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "Returns a category",
      "schema": {
       "$ref": "#/definitions/Category"
      }
     }
    }
   }
  },
  "/categories/{id}/tree": {
   "get": {
    "description": "Get the full detailed information of an Category tree.",
    "operationId": "Category Tree",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "path",
      "name": "id",
      "description": "Use property identifier of Category to set root category.",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
      "description": "Time zone ID to apply its offset to dates and time.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "scope",
      "description": "Value scope. Some providers support different values for different client targets. Has an effect on some multilingual values (name, description, etc.).",
      "type": "string"
     },
     {
      "in": "header",
      "name": "categoryVersion",
      "description": "Filters categories by version.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "select",
      "description": "Comma-separated list of properties to include in the response.",
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "Returns a category tree",
      "schema": {
       "$ref": "#/definitions/CategoryTreeItem"
      }
     }
    }
   }
  },
  "/categories": {
   "get": {
    "description": "Get the list of the Categories with full detailed information.",
    "operationId": "List Category",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
      "description": "Time zone ID to apply its offset to dates and time.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "scope",
      "description": "Value scope. Some providers support different values for different client targets. Has an effect on some multilingual values (name, description, etc.).",
      "type": "string"
     },
     {
      "in": "header",
      "name": "categoryVersion",
      "description": "Filters categories by version.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "parentCategory",
      "description": "Use property identifier of category to filter.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "updatedSince",
      "description": "Returns only changed data since a specific date. Format: `yyyy-MM-ddTHH:mm:ss`",
      "type": "string",
      "format": "date-time"
     },
     {
      "in": "query",
      "name": "datasource",
      "description": "Filters by `datasource`.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "continuationToken",
      "description": "A next page cursor for use in pagination, see [Documentation](https://docs.discover.swiss/dev/quickstarts/how-to-get-access/#continuationtoken).",
      "type": "string"
     },
     {
      "in": "query",
      "name": "top",
      "description": "Sets the page size of response.",
      "type": "integer",
      "format": "int32"
     },
     {
      "in": "query",
      "name": "project",
      "description": "Use this property to filter objects by a specific project. All partners must provide their project code in this parameter.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "select",
      "description": "Comma-separated list of properties to include in the response.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "includeCount",
      "description": "Use `true` if you want to get total filtered items count in response.",
      "type": "boolean"
     },
     {
      "in": "query",
      "name": "rootObjectsOnly",
      "description": "Pass 'true' if you want to get only root categories.",
      "type": "boolean"
     },
     {
      "in": "query",
      "name": "identifiers",
      "description": "Comma-separated list of Id's to include in the response.",
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "Return array of categories",
      "schema": {
       "$ref": "#/definitions/CategoriesResponse"
      }
     }
    }
   }
  },
  "/civicStructures/{id}/weather/forecast/hourly": {
   "get": {
    "description": "Get the full detailed information about the weather hourly forecast for a CivicStructure object.",
    "operationId": "CivicStructure hourly forecast",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "path",
      "name": "id",
      "description": "Use property identifier of CivicStructure to get the weather hourly forecast information for it.",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
      "description": "Time zone ID to apply its offset to dates and time.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "project",
      "description": "Use this property to filter objects by a specific project. All partners must provide their project code in this parameter.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "containedInPlace",
      "description": "Filters by `containedInPlace`. Use property identifier of place.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "duration",
      "description": "Time frame of the returned weather forecast. By default, the forecast data for next hour will be returned.Available values are:<br>`1` - Return forecast data for the next hour. Default value.<br>`12` - Return hourly forecast for next 12 hours.<br>`24` - Return hourly forecast for next 24 hours.<br>`72` - Return hourly forecast for next 72 hours (3 days).",
      "type": "integer",
      "format": "int32"
     }
    ],
    "responses": {
     "200": {
      "description": "Returns the weather hourly forecast for a civic structure",
      "schema": {
       "type": "array",
       "items": {
        "$ref": "#/definitions/HourlyForecast"
       }
      }
     }
    }
   }
  },
  "/civicStructures/{id}/weather/forecast/daily": {
   "get": {
    "description": "Get the full detailed information about the weather daily forecast for a CivicStructure object.",
    "operationId": "CivicStructure daily forecast",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "path",
      "name": "id",
      "description": "Use property identifier of CivicStructure to get the weather daily forecast information for it.",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
      "description": "Time zone ID to apply its offset to dates and time.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "project",
      "description": "Use this property to filter objects by a specific project. All partners must provide their project code in this parameter.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "containedInPlace",
      "description": "Filters by `containedInPlace`. Use property identifier of place.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "duration",
      "description": "Sets for how many days the daily forecast responses are returned. Available values are:<br>`1` - Return forecast data for the next day. Returned by default.<br>`5` - Return forecast data for the next 5 days.<br>`10` - Return forecast data for the next 10 days.",
      "type": "integer",
      "format": "int32"
     }
    ],
    "responses": {
     "200": {
      "description": "Returns the weather daily forecast for a civic structure",
      "schema": {
       "type": "array",
       "items": {
        "$ref": "#/definitions/DailyForecast"
       }
      }
     }
    }
   }
  },
  "/civicStructures/{id}/weather": {
   "get": {
    "description": "Get the full detailed information about the weather for a CivicStructure object.",
    "operationId": "CivicStructure weather",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "path",
      "name": "id",
      "description": "Use property identifier of CivicStructure to get the weather information for it.",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
      "description": "Time zone ID to apply its offset to dates and time.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "project",
      "description": "Use this property to filter objects by a specific project. All partners must provide their project code in this parameter.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "containedInPlace",
      "description": "Filters by `containedInPlace`. Use property identifier of place.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "duration",
      "description": "Time frame of the returned weather conditions. By default, the most current weather conditions will be returned. Available values are:<br>`0` - Return the most current weather conditions. Default value.<br>`6` - Return weather conditions from past 6 hours.<br>`24` - Return weather conditions from past 24 hours.",
      "type": "integer",
      "format": "int32"
     },
     {
      "in": "query",
      "name": "details",
      "description": "Returns full details for the current conditions, `false` by default.",
      "type": "boolean"
     }
    ],
    "responses": {
     "200": {
      "description": "Returns the weather for a civic structure",
      "schema": {
       "type": "array",
       "items": {
        "$ref": "#/definitions/Weather"
       }
      }
     }
    }
   }
  },
  "/civicStructures/{id}": {
   "get": {
    "description": "Get the full detailed information of an CivicStructure object.",
    "operationId": "CivicStructure",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "path",
      "name": "id",
      "description": "Use property identifier of CivicStructure to get single object.",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
      "description": "Time zone ID to apply its offset to dates and time.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "scope",
      "description": "Value scope. Some providers support different values for different client targets. Has an effect on some multilingual values (name, description, etc.).",
      "type": "string"
     },
     {
      "in": "header",
      "name": "ds-tagFilter",
      "description": "Filter tags in the response by `project` or `all`, by default `all`.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "ds-containedInPlaceFilter",
      "description": "Filter containedInPlace in the response by `project` or `all`, by default `all`.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "ds-categoryFilter",
      "description": "Filter categories in the response by `project`, `excludeRoot` or `all`, by default `all`. Filter by `excludeRoot` will filter out the root elements of the category tree.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "categoryVersion",
      "description": "Filters categories by version.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "project",
      "description": "Use this property to filter objects by a specific project. All partners must provide their project code in this parameter.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "containedInPlace",
      "description": "Filters by `containedInPlace`. Use property identifier of place.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "select",
      "description": "Comma-separated list of properties to include in the response.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "photoSeason",
      "description": "Filter photos by season based on tags. Available values are: `summer` and `winter`.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "includeAllPhotos",
      "description": "Use `true` to include all photos in the response, otherwise images with low confidence will be skipped.",
      "type": "boolean"
     }
    ],
    "responses": {
     "200": {
      "description": "Returns a civic structure",
      "schema": {
       "$ref": "#/definitions/CivicStructure"
      }
     }
    }
   }
  },
  "/civicStructures": {
   "get": {
    "description": "Get the list of the CivicStructures with full detailed information.",
    "operationId": "List CivicStructure",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
      "description": "Time zone ID to apply its offset to dates and time.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "scope",
      "description": "Value scope. Some providers support different values for different client targets. Has an effect on some multilingual values (name, description, etc.).",
      "type": "string"
     },
     {
      "in": "header",
      "name": "ds-tagFilter",
      "description": "Filter tags in the response by `project` or `all`, by default `all`.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "ds-containedInPlaceFilter",
      "description": "Filter containedInPlace in the response by `project` or `all`, by default `all`.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "ds-categoryFilter",
      "description": "Filter categories in the response by `project`, `excludeRoot` or `all`, by default `all`. Filter by `excludeRoot` will filter out the root elements of the category tree.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "categoryVersion",
      "description": "Filters categories by version.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "category",
      "description": "Filters by `category`. Use property identifier of category.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "containedInPlace",
      "description": "Filters by `containedInPlace`. Use property identifier of place.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "updatedSince",
      "description": "Returns only changed data since a specific date. Format: `yyyy-MM-ddTHH:mm:ss`",
      "type": "string",
      "format": "date-time"
     },
     {
      "in": "query",
      "name": "datasource",
      "description": "Filters by `datasource`.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "continuationToken",
      "description": "A next page cursor for use in pagination, see [Documentation](https://docs.discover.swiss/dev/quickstarts/how-to-get-access/#continuationtoken).",
      "type": "string"
     },
     {
      "in": "query",
      "name": "top",
      "description": "Sets the page size of response.",
      "type": "integer",
      "format": "int32"
     },
     {
      "in": "query",
      "name": "project",
      "description": "Use this property to filter objects by a specific project. All partners must provide their project code in this parameter.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "select",
      "description": "Comma-separated list of properties to include in the response.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "includeCount",
      "description": "Use `true` if you want to get total filtered items count in response.",
      "type": "boolean"
     },
     {
      "in": "query",
      "name": "identifiers",
      "description": "Comma-separated list of Id's to include in the response.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "photoSeason",
      "description": "Filter photos by season based on tags. Available values are: `summer` and `winter`.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "includeAllPhotos",
      "description": "Use `true` to include all photos in the response, otherwise images with low confidence will be skipped.",
      "type": "boolean"
     }
    ],
    "responses": {
     "200": {
      "description": "Return array of civic structures",
      "schema": {
       "$ref": "#/definitions/CivicStructuresResponse"
      }
     }
    }
   }
  },
  "/conditions/{id}/weather/forecast/hourly": {
   "get": {
    "description": "Get the full detailed information about the weather daily forecast for a Condition object.",
    "operationId": "Condition hourly forecast",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "path",
      "name": "id",
      "description": "Use property identifier of Condition to get the weather hourly forecast information for it.",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
      "description": "Time zone ID to apply its offset to dates and time.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "project",
      "description": "Use this property to filter objects by a specific project. All partners must provide their project code in this parameter.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "containedInPlace",
      "description": "Filters by `containedInPlace`. Use property identifier of place.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "duration",
      "description": "Time frame of the returned weather forecast. By default, the forecast data for next hour will be returned.Available values are:<br>`1` - Return forecast data for the next hour. Default value.<br>`12` - Return hourly forecast for next 12 hours.<br>`24` - Return hourly forecast for next 24 hours.<br>`72` - Return hourly forecast for next 72 hours (3 days).",
      "type": "integer",
      "format": "int32"
     }
    ],
    "responses": {
     "200": {
      "description": "Returns the weather hourly forecast for a condition",
      "schema": {
       "type": "array",
       "items": {
        "$ref": "#/definitions/HourlyForecast"
       }
      }
     }
    }
   }
  },
  "/conditions/{id}/weather/forecast/daily": {
   "get": {
    "description": "Get the full detailed information about the weather daily forecast for a Condition object.",
    "operationId": "Condition daily forecast",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "path",
      "name": "id",
      "description": "Use property identifier of Condition to get the weather daily forecast information for it.",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
      "description": "Time zone ID to apply its offset to dates and time.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "project",
      "description": "Use this property to filter objects by a specific project. All partners must provide their project code in this parameter.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "containedInPlace",
      "description": "Filters by `containedInPlace`. Use property identifier of place.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "duration",
      "description": "Sets for how many days the daily forecast responses are returned. Available values are:<br>`1` - Return forecast data for the next day. Returned by default.<br>`5` - Return forecast data for the next 5 days.<br>`10` - Return forecast data for the next 10 days.",
      "type": "integer",
      "format": "int32"
     }
    ],
    "responses": {
     "200": {
      "description": "Returns the weather daily forecast for a condition",
      "schema": {
       "type": "array",
       "items": {
        "$ref": "#/definitions/DailyForecast"
       }
      }
     }
    }
   }
  },
  "/conditions/{id}/weather": {
   "get": {
    "description": "Get the full detailed information about the weather for a Condition object.",
    "operationId": "Condition weather",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "path",
      "name": "id",
      "description": "Use property identifier of Condition to get the weather information for it.",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
      "description": "Time zone ID to apply its offset to dates and time.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "project",
      "description": "Use this property to filter objects by a specific project. All partners must provide their project code in this parameter.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "containedInPlace",
      "description": "Filters by `containedInPlace`. Use property identifier of place.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "duration",
      "description": "Time frame of the returned weather conditions. By default, the most current weather conditions will be returned. Available values are:<br>`0` - Return the most current weather conditions. Default value.<br>`6` - Return weather conditions from past 6 hours.<br>`24` - Return weather conditions from past 24 hours.",
      "type": "integer",
      "format": "int32"
     },
     {
      "in": "query",
      "name": "details",
      "description": "Returns full details for the current conditions, `false` by default.",
      "type": "boolean"
     }
    ],
    "responses": {
     "200": {
      "description": "Returns the weather for a condition",
      "schema": {
       "type": "array",
       "items": {
        "$ref": "#/definitions/Weather"
       }
      }
     }
    }
   }
  },
  "/conditions/{id}": {
   "get": {
    "description": "Get the full detailed information of an Condition object.",
    "operationId": "Condition",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "path",
      "name": "id",
      "description": "Use property identifier of Condition to get single object.",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
      "description": "Time zone ID to apply its offset to dates and time.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "scope",
      "description": "Value scope. Some providers support different values for different client targets. Has an effect on some multilingual values (name, description, etc.).",
      "type": "string"
     },
     {
      "in": "header",
      "name": "ds-tagFilter",
      "description": "Filter tags in the response by `project` or `all`, by default `all`.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "ds-containedInPlaceFilter",
      "description": "Filter containedInPlace in the response by `project` or `all`, by default `all`.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "ds-categoryFilter",
      "description": "Filter categories in the response by `project`, `excludeRoot` or `all`, by default `all`. Filter by `excludeRoot` will filter out the root elements of the category tree.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "categoryVersion",
      "description": "Filters categories by version.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "project",
      "description": "Use this property to filter objects by a specific project. All partners must provide their project code in this parameter.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "containedInPlace",
      "description": "Filters by `containedInPlace`. Use property identifier of place.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "select",
      "description": "Comma-separated list of properties to include in the response.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "photoSeason",
      "description": "Filter photos by season based on tags. Available values are: `summer` and `winter`.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "includeAllPhotos",
      "description": "Use `true` to include all photos in the response, otherwise images with low confidence will be skipped.",
      "type": "boolean"
     }
    ],
    "responses": {
     "200": {
      "description": "Returns a condition",
      "schema": {
       "$ref": "#/definitions/Condition"
      }
     }
    }
   }
  },
  "/conditions": {
   "get": {
    "description": "Get the list of the Conditions with full detailed information.",
    "operationId": "List Condition",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
      "description": "Time zone ID to apply its offset to dates and time.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "scope",
      "description": "Value scope. Some providers support different values for different client targets. Has an effect on some multilingual values (name, description, etc.).",
      "type": "string"
     },
     {
      "in": "header",
      "name": "ds-tagFilter",
      "description": "Filter tags in the response by `project` or `all`, by default `all`.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "ds-containedInPlaceFilter",
      "description": "Filter containedInPlace in the response by `project` or `all`, by default `all`.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "ds-categoryFilter",
      "description": "Filter categories in the response by `project`, `excludeRoot` or `all`, by default `all`. Filter by `excludeRoot` will filter out the root elements of the category tree.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "categoryVersion",
      "description": "Filters categories by version.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "category",
      "description": "Filters by `category`. Use property identifier of category.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "containedInPlace",
      "description": "Filters by `containedInPlace`. Use property identifier of place.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "updatedSince",
      "description": "Returns only changed data since a specific date. Format: `yyyy-MM-ddTHH:mm:ss`",
      "type": "string",
      "format": "date-time"
     },
     {
      "in": "query",
      "name": "datasource",
      "description": "Filters by `datasource`.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "continuationToken",
      "description": "A next page cursor for use in pagination, see [Documentation](https://docs.discover.swiss/dev/quickstarts/how-to-get-access/#continuationtoken).",
      "type": "string"
     },
     {
      "in": "query",
      "name": "top",
      "description": "Sets the page size of response.",
      "type": "integer",
      "format": "int32"
     },
     {
      "in": "query",
      "name": "project",
      "description": "Use this property to filter objects by a specific project. All partners must provide their project code in this parameter.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "select",
      "description": "Comma-separated list of properties to include in the response.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "includeCount",
      "description": "Use `true` if you want to get total filtered items count in response.",
      "type": "boolean"
     },
     {
      "in": "query",
      "name": "identifiers",
      "description": "Comma-separated list of Id's to include in the response.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "photoSeason",
      "description": "Filter photos by season based on tags. Available values are: `summer` and `winter`.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "includeAllPhotos",
      "description": "Use `true` to include all photos in the response, otherwise images with low confidence will be skipped.",
      "type": "boolean"
     }
    ],
    "responses": {
     "200": {
      "description": "Return array of creative works",
      "schema": {
       "$ref": "#/definitions/ConditionsResponse"
      }
     }
    }
   }
  },
  "/creativeWorks/{id}": {
   "get": {
    "description": "Get the full detailed information of an CreativeWork object.",
    "operationId": "CreativeWork",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "path",
      "name": "id",
      "description": "Use property identifier of CreativeWork to get single object.",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
      "description": "Time zone ID to apply its offset to dates and time.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "scope",
      "description": "Value scope. Some providers support different values for different client targets. Has an effect on some multilingual values (name, description, etc.).",
      "type": "string"
     },
     {
      "in": "header",
      "name": "ds-tagFilter",
      "description": "Filter tags in the response by `project` or `all`, by default `all`.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "ds-containedInPlaceFilter",
      "description": "Filter containedInPlace in the response by `project` or `all`, by default `all`.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "ds-categoryFilter",
      "description": "Filter categories in the response by `project`, `excludeRoot` or `all`, by default `all`. Filter by `excludeRoot` will filter out the root elements of the category tree.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "categoryVersion",
      "description": "Filters categories by version.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "project",
      "description": "Use this property to filter objects by a specific project. All partners must provide their project code in this parameter.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "select",
      "description": "Comma-separated list of properties to include in the response.",
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "Returns a creative work",
      "schema": {
       "$ref": "#/definitions/CreativeWork"
      }
     }
    }
   }
  },
  "/creativeWorks": {
   "get": {
    "description": "Get the list of the CreativeWorks with full detailed information.",
    "operationId": "List CreativeWork",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
      "description": "Time zone ID to apply its offset to dates and time.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "scope",
      "description": "Value scope. Some providers support different values for different client targets. Has an effect on some multilingual values (name, description, etc.).",
      "type": "string"
     },
     {
      "in": "header",
      "name": "ds-tagFilter",
      "description": "Filter tags in the response by `project` or `all`, by default `all`.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "ds-containedInPlaceFilter",
      "description": "Filter containedInPlace in the response by `project` or `all`, by default `all`.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "ds-categoryFilter",
      "description": "Filter categories in the response by `project`, `excludeRoot` or `all`, by default `all`. Filter by `excludeRoot` will filter out the root elements of the category tree.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "categoryVersion",
      "description": "Filters categories by version.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "updatedSince",
      "description": "Returns only changed data since a specific date. Format: `yyyy-MM-ddTHH:mm:ss`",
      "type": "string",
      "format": "date-time"
     },
     {
      "in": "query",
      "name": "datasource",
      "description": "Filters by `datasource`.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "continuationToken",
      "description": "A next page cursor for use in pagination, see [Documentation](https://docs.discover.swiss/dev/quickstarts/how-to-get-access/#continuationtoken).",
      "type": "string"
     },
     {
      "in": "query",
      "name": "top",
      "description": "Sets the page size of response.",
      "type": "integer",
      "format": "int32"
     },
     {
      "in": "query",
      "name": "project",
      "description": "Use this property to filter objects by a specific project. All partners must provide their project code in this parameter.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "select",
      "description": "Comma-separated list of properties to include in the response.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "includeCount",
      "description": "Use `true` if you want to get total filtered items count in response.",
      "type": "boolean"
     },
     {
      "in": "query",
      "name": "identifiers",
      "description": "Comma-separated list of Id's to include in the response.",
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "Return array of creative works",
      "schema": {
       "$ref": "#/definitions/CreativeWorksResponse"
      }
     }
    }
   }
  },
  "/events/{id}/weather/forecast/hourly": {
   "get": {
    "description": "Get the full detailed information about the weather hourly forecast for a Event object.",
    "operationId": "Event hourly forecast",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "path",
      "name": "id",
      "description": "Use property identifier of Event to get the weather hourly forecast information for it.",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
      "description": "Time zone ID to apply its offset to dates and time.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "project",
      "description": "Use this property to filter objects by a specific project. All partners must provide their project code in this parameter.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "containedInPlace",
      "description": "Filters by `containedInPlace`. Use property identifier of place.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "duration",
      "description": "Time frame of the returned weather forecast. By default, the forecast data for next hour will be returned.Available values are:<br>`1` - Return forecast data for the next hour. Default value.<br>`12` - Return hourly forecast for next 12 hours.<br>`24` - Return hourly forecast for next 24 hours.<br>`72` - Return hourly forecast for next 72 hours (3 days).",
      "type": "integer",
      "format": "int32"
     }
    ],
    "responses": {
     "200": {
      "description": "Returns the weather hourly forecast for an event",
      "schema": {
       "type": "array",
       "items": {
        "$ref": "#/definitions/HourlyForecast"
       }
      }
     }
    }
   }
  },
  "/events/{id}/weather/forecast/daily": {
   "get": {
    "description": "Get the full detailed information about the weather daily forecast for a Event object.",
    "operationId": "Event daily forecast",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "path",
      "name": "id",
      "description": "Use property identifier of Event to get the weather daily forecast information for it.",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
      "description": "Time zone ID to apply its offset to dates and time.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "project",
      "description": "Use this property to filter objects by a specific project. All partners must provide their project code in this parameter.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "containedInPlace",
      "description": "Filters by `containedInPlace`. Use property identifier of place.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "duration",
      "description": "Sets for how many days the daily forecast responses are returned. Available values are:<br>`1` - Return forecast data for the next day. Returned by default.<br>`5` - Return forecast data for the next 5 days.<br>`10` - Return forecast data for the next 10 days.",
      "type": "integer",
      "format": "int32"
     }
    ],
    "responses": {
     "200": {
      "description": "Returns the weather daily forecast for an event",
      "schema": {
       "type": "array",
       "items": {
        "$ref": "#/definitions/DailyForecast"
       }
      }
     }
    }
   }
  },
  "/events/{id}/weather": {
   "get": {
    "description": "Get the full detailed information about the weather for a Event object.",
    "operationId": "Event weather",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "path",
      "name": "id",
      "description": "Use property identifier of Event to get the weather information for it.",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
      "description": "Time zone ID to apply its offset to dates and time.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "project",
      "description": "Use this property to filter objects by a specific project. All partners must provide their project code in this parameter.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "containedInPlace",
      "description": "Filters by `containedInPlace`. Use property identifier of place.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "duration",
      "description": "Time frame of the returned weather conditions. By default, the most current weather conditions will be returned. Available values are:<br>`0` - Return the most current weather conditions. Default value.<br>`6` - Return weather conditions from past 6 hours.<br>`24` - Return weather conditions from past 24 hours.",
      "type": "integer",
      "format": "int32"
     },
     {
      "in": "query",
      "name": "details",
      "description": "Returns full details for the current conditions, `false` by default.",
      "type": "boolean"
     }
    ],
    "responses": {
     "200": {
      "description": "Returns the weather for an event",
      "schema": {
       "type": "array",
       "items": {
        "$ref": "#/definitions/Weather"
       }
      }
     }
    }
   }
  },
  "/events/{id}": {
   "get": {
    "description": "Get the full detailed information of an Event object.",
    "operationId": "Event",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "path",
      "name": "id",
      "description": "Use property identifier of Event to get single object.",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
      "description": "Time zone ID to apply its offset to dates and time.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "scope",
      "description": "Value scope. Some providers support different values for different client targets. Has an effect on some multilingual values (name, description, etc.).",
      "type": "string"
     },
     {
      "in": "header",
      "name": "ds-tagFilter",
      "description": "Filter tags in the response by `project` or `all`, by default `all`.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "ds-containedInPlaceFilter",
      "description": "Filter containedInPlace in the response by `project` or `all`, by default `all`.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "ds-categoryFilter",
      "description": "Filter categories in the response by `project`, `excludeRoot` or `all`, by default `all`. Filter by `excludeRoot` will filter out the root elements of the category tree.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "categoryVersion",
      "description": "Filters categories by version.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "project",
      "description": "Use this property to filter objects by a specific project. All partners must provide their project code in this parameter.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "containedInPlace",
      "description": "Filters by `containedInPlace`. Use property identifier of place.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "select",
      "description": "Comma-separated list of properties to include in the response.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "photoSeason",
      "description": "Filter photos by season based on tags. Available values are: `summer` and `winter`.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "includeAllPhotos",
      "description": "Use `true` to include all photos in the response, otherwise images with low confidence will be skipped.",
      "type": "boolean"
     }
    ],
    "responses": {
     "200": {
      "description": "Returns a event",
      "schema": {
       "$ref": "#/definitions/Event"
      }
     }
    }
   }
  },
  "/events": {
   "get": {
    "description": "Get the list of the Events with full detailed information.",
    "operationId": "List Events",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
      "description": "Time zone ID to apply its offset to dates and time.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "scope",
      "description": "Value scope. Some providers support different values for different client targets. Has an effect on some multilingual values (name, description, etc.).",
      "type": "string"
     },
     {
      "in": "header",
      "name": "ds-tagFilter",
      "description": "Filter tags in the response by `project` or `all`, by default `all`.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "ds-containedInPlaceFilter",
      "description": "Filter containedInPlace in the response by `project` or `all`, by default `all`.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "ds-categoryFilter",
      "description": "Filter categories in the response by `project`, `excludeRoot` or `all`, by default `all`. Filter by `excludeRoot` will filter out the root elements of the category tree.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "categoryVersion",
      "description": "Filters categories by version.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "updatedSince",
      "description": "Returns only changed data since a specific date. Format: `yyyy-MM-ddTHH:mm:ss`",
      "type": "string",
      "format": "date-time"
     },
     {
      "in": "query",
      "name": "category",
      "description": "Filters by `category`. Use property identifier of category.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "datasource",
      "description": "Filters by `datasource`.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "continuationToken",
      "description": "A next page cursor for use in pagination, see [Documentation](https://docs.discover.swiss/dev/quickstarts/how-to-get-access/#continuationtoken).",
      "type": "string"
     },
     {
      "in": "query",
      "name": "top",
      "description": "Sets the page size of response.",
      "type": "integer",
      "format": "int32"
     },
     {
      "in": "query",
      "name": "containedInPlace",
      "description": "Filters by `containedInPlace`. Use property identifier of place.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "location",
      "description": "Filters by `location`. Use property identifier of local bussiness.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "project",
      "description": "Use this property to filter objects by a specific project. All partners must provide their project code in this parameter.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "select",
      "description": "Comma-separated list of properties to include in the response.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "includeCount",
      "description": "Use `true` if you want to get total filtered items count in response.",
      "type": "boolean"
     },
     {
      "in": "query",
      "name": "identifiers",
      "description": "Comma-separated list of Id's to include in the response.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "photoSeason",
      "description": "Filter photos by season based on tags. Available values are: `summer` and `winter`.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "includeAllPhotos",
      "description": "Use `true` to include all photos in the response, otherwise images with low confidence will be skipped.",
      "type": "boolean"
     }
    ],
    "responses": {
     "200": {
      "description": "Return array of events",
      "schema": {
       "$ref": "#/definitions/EventsResponse"
      }
     }
    }
   }
  },
  "/foodEstablishments/{id}/weather/forecast/hourly": {
   "get": {
    "description": "Get the full detailed information about the weather hourly forecast for a FoodEstablishment object.",
    "operationId": "FoodEstablishment weather hourly forecast",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "path",
      "name": "id",
      "description": "Use property identifier of FoodEstablishment to get the weather hourly forecast information for it.",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
      "description": "Time zone ID to apply its offset to dates and time.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "project",
      "description": "Use this property to filter objects by a specific project. All partners must provide their project code in this parameter.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "containedInPlace",
      "description": "Filters by `containedInPlace`. Use property identifier of place.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "duration",
      "description": "Time frame of the returned weather forecast. By default, the forecast data for next hour will be returned.Available values are:<br>`1` - Return forecast data for the next hour. Default value.<br>`12` - Return hourly forecast for next 12 hours.<br>`24` - Return hourly forecast for next 24 hours.<br>`72` - Return hourly forecast for next 72 hours (3 days).",
      "type": "integer",
      "format": "int32"
     }
    ],
    "responses": {
     "200": {
      "description": "Returns the weather hourly forecast for a food establishment",
      "schema": {
       "type": "array",
       "items": {
        "$ref": "#/definitions/HourlyForecast"
       }
      }
     }
    }
   }
  },
  "/foodEstablishments/{id}/weather/forecast/daily": {
   "get": {
    "description": "Get the full detailed information about the weather daily forecast for a FoodEstablishment object.",
    "operationId": "FoodEstablishment weather daily forecast",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "path",
      "name": "id",
      "description": "Use property identifier of FoodEstablishment to get the weather daily forecast information for it.",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
      "description": "Time zone ID to apply its offset to dates and time.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "project",
      "description": "Use this property to filter objects by a specific project. All partners must provide their project code in this parameter.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "containedInPlace",
      "description": "Filters by `containedInPlace`. Use property identifier of place.",
      "type": "string"
     },
     {
      "in": "query",
      "name": "duration",
      "description": "Sets for how many days the daily forecast responses are returned. Available values are:<br>`1` - Return forecast data for the next day. Returned by default.<br>`5` - Return forecast data for the next 5 days.<br>`10` - Return forecast data for the next 10 days.",
      "type": "integer",
      "format": "int32"
     }
    ],
    "responses": {
     "200": {
      "description": "Returns the weather daily forecast for a food establishment",
      "schema": {
       "type": "array",
       "items": {
        "$ref": "#/definitions/DailyForecast"
       }
      }
     }
    }
   }
  },
  "/foodEstablishments/{id}/weather": {
   "get": {
    "description": "Get the full detailed information about the weather for a FoodEstablishment object.",
    "operationId": "FoodEstablishment weather",
    "produces": [
     "application/json"
    ],
    "parameters": [
     {
      "in": "path",
      "name": "id",
      "description": "Use property identifier of FoodEstablishment to get the weather information for it.",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "description": "Subscription key to access the API. Get it on (Developer portal)[https://developer.discover.swiss].",
      "required": true,
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Language",
      "description": "Two-letter language code to get localized properties.",
      "type": "string"
     },
     {
      "in": "header",
      "name": "Accept-Timezone",
[...]
